---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Note from '~/components/widgets/Note.astro';

const meta = {
  title: "About Princiya Sequeira",
};
---

<Layout {meta}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    image={{ src: import('~/assets/images/hero.png'), alt: 'Princiya Sequeira cover photo' }}
  >
    <Fragment slot="title">
      Hi, I am
      <span class="text-accent dark:text-white highlight"> Princiya</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        I <span class="font-semibold">love</span> food and Javascript. And now I am getting Pythonised.
      </span>
    </Fragment>

    <Fragment slot="content">
      <span class="text-lg">
        I am a skilled programmer with strong communication skills and a dozen years of experience building full-stack web & mobile apps, implementing CI/CD solutions, and supporting infrastructures, including ~5 years of experience leading technical teams at scale.
      </span>
      <br/>
      <br/>
      My top strengths are <span class="font-semibold">Strategic, Relator, Achiever, Learner, and Responsibility.</span>
    </Fragment>

    <Fragment slot="content">
      <br/>
      <span class="font-semibold inline-block mt-4">Work</span><br/>
      <span class="text-base inline-block mt-4">
        I work as an Engineering Manager at Anaconda on its enterprise product - Anaconda Server.
        During 2021-22, I also spent my time with the women who code community as a Leadership Fellow on the wwcode frontend technical track.
      </span>
    </Fragment>

    <Fragment slot="content">
      <br/>
      <br/>
      <span class="text-base">
        In my previous job, I worked for Curalie GmbH, Berlin as Head of Frontend Engineering. I have been in the web development field for 12+ years.
        During this tenure, I have had the exposure to deal with full-stack web and mobile app development including dev-ops work, UX tasks, and mentoring team members.
        I also have exposure to working with IoT, VR/AR, Data visualizations, and Machine Learning.
      </span>
    </Fragment>

    <Fragment slot="content">
      <br/>
      <span class="font-semibold inline-block mt-4">Opensource</span><br/>
      <span class="text-base">
        I contribute to open-source and maintain(ed) Lightbeam which is a browser extension to visualize first and third-party trackers. I have also served as a community maintainer for the Firefox dev tools debugger project.
        <br/><br/>
        I have been a Software Developer coach at Raise.dev and MLH Fellowship where I coached undergraduates in contributing to opensource, offered them career advice, and prepared them into getting internships or full-time jobs in Software Engineering.
        Through this program, I mentored open-source contributors to popular open-source repositories like React Native core, AWS Amplify, and Slate.js.
      </span>
    </Fragment>

    <Fragment slot="content">
      <br/>
      <span class="font-semibold inline-block mt-4">Community</span><br/>
      <span class="text-base">
        I have been speaking at international conferences since 2015 on web frontend-related topics.
        I blog about my journey into an engineering leadership role and solving technical problems.
        <br/>
        Before the covid pandemic, I volunteered my time in co-organizing the Berlin critical tech meetup, curating diversity scholarship applications for JSConfEU and React India conferences, and co-hosting the bi-weekly D&I community & contributor calls.
        <br/>
        I have also participated in the mentorship program for the Node.js Diagnostics working group and Open Source Maintainer Leadership program from Mozilla.
      </span>
    </Fragment>

    <Fragment slot="content">
      <br/>
      <span class="font-semibold inline-block mt-4">Skills</span><br/>
      <span class="text-base">
        - React, React Native, CSS, JavaScript, Node.js, Webpack, Docker, AWS, CI/CD, DevOps, Test automation, Data visualizations, Python
        <br/>
        - Empathetic leadership and strong communication
        <br/>
        - Strategic, Relator, Achiever, Learner, and Responsibility
        <br/>
        - Translate tech jargon into meaningful cartoons and mental models
        <br/>
      </span>
    </Fragment>
  </Hero2>

  <Note />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
