---
import { Image } from '@astrojs/image/components';
import logo from '../assets/images/logo-black.svg';
---

<div class="bg-logo dark:bg-logoDark bg-no-repeat inline-block" style="width: 100px; height: 100px"></div>
<!-- <Image src={logo} alt="princiya.com" format="svg" class="object-cover" /> -->

